---
import { myCommand } from "@austinfoss/cli-lib-tmp";
myCommand("Hello from Astro UI");
---
<html>
  <body>
    <h1>Astro CLI Example</h1>
    <p>Check your terminal for output from the imported command.</p>
  </body>
</html>
